#header{
  background-image: url(../img/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 600px;
  margin-bottom: 0px;
}
.logo{
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
}
#meals{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#hhour{
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
#ptime{
  background-color: #F15A29;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
#ptime:hover{
  color:blue;
}
#bfast{
  background-image: url(../img/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  font-size: 2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
  transition: .5s;
}
#bfast:hover{
  background-size: 120%;
  color:black;
}
#bfast:after{
  word-wrap: break-word;
  overflow: hidden;
  height: 100%;
  content: attr(data-text);
}
#lunch{
  background-image: url(../img/foodtop/lunch.jpg);
  background-repeat:no-repeat;
  font-size: 2rem;
  text-align: center;
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
}
#lunch:hover{
  background-size: 120%;
  color:black;
}
#lunch:after{
  word-wrap: break-word;
  overflow: hidden;
  height: 100%;
  content: attr(data-text);
}
#dinner{
  background-image:url(../img/foodtop/dinner.jpg);
  background-repeat: no-repeat;
  font-size: 2rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
}
#dinner:hover{
  background-size: 120%;
  color:black;
}
#dinner:after{
  word-wrap: break-word;
  overflow: hidden;
  height: 100%;
  content: attr(data-text);
}
#box1{
  padding: 20px;
  box-shadow: 1px 2px 3px 3px #dcdcdc;
}
#fview{
  border: 1px solid #F15A29;
  background-color: white;
  color: #F15A29;
}
.container-fluid{
  height: 380px;
  width: 80vw;
  background-color: white;
  padding: 50px;
  padding-top: 0px;
}
.nav-link{
  background-color:silver;
}
.imgs{
  margin-top: 30px;
  margin-left: 10px;

}
.bgr{
  float: right;
}
.creole{
  position: relative;
  top: 5px;
  left: -5px;
}
.creol{
  top: -5px;
  position:relative;
}
.creo{
  position: relative;
  top: 5px;
  left: 5px;
}
#dview{
  border: 1px solid #F15A29;
  background-color: white;
  color: #F15A29;
}
#box2{
  padding: 20px;
  box-shadow: 1px 2px 3px 3px #dcdcdc;
}
#burger{
  background-image:url(../img/backgrounds/foodsBg.jpg);
  background-repeat: no-repeat;
}
#angle1  {
  position: relative;
  top: 5px;
  left: -10px;
  color: #F15A29;
  font-size: 40px;
  padding: 10px;
}
#angle{
  position: relative;
  top: 5px;
  left: 10px;
  color: #F15A29;
  font-size: 40px;
  padding: 10px;
}
#box3{
  padding: 20px;
  box-shadow: 1px 2px 3px 3px #dcdcdc;
  margin-bottom: 100px;
  text-align: center;
}
