#header{
  background-image: url(../img/backgrounds/landing.jpg);
  background-repeat: no-repeat;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  height: 600px;
  margin-bottom: 0px;
}
.logo{
  text-align: center;
  padding-top: 150px;
  font-size: 30px;
}
#meals{
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
}
#hhour{
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
#ptime{
  background-color: #F15A29;
  padding-right: 0rem;
  padding-left: 0rem;
  text-align: center;
  padding-top: 30px;
  font-size: 30px;
}
#ptime:hover{
  color:blue;
}
#bfast{
  background-image: url(../img/foodtop/breakfast.jpg);
  background-repeat: no-repeat;
  font-size: 2rem;
  padding-left: 0rem;
  padding-right: 0rem;
  color: #FFFFFF;
  text-align: center;
  padding-top: 80px;
  transition: .5s;
}
